*{
    margin:0;
    padding:0;
    font-family: 'Exo 2';
    box-sizing: border-box; /* a pesar de que le agregue padding y margin respeta el tamaño del contenedor */

    }

.header{
    position:fixed;
    top: 0;
    padding-top: 150px;

}


    .nav1{
        width: 100vw;
        background-color: black;
        font-size: 50px;
    }

    .nav2{
        color: white;
        background-color:black;
        width: 100vw;
        display:flex;
        justify-content: center;
        padding: 4%;
    }

    .nav2 span{
        /* border-right: 1px solid white; */
        cursor: pointer;
    }
    .nav2 span:hover{
        background-color: white;
        color: black;
    }

    .CTA button:hover{
        background-color: white;
        color: black;
    }
    header nav span{
        color: white;
        background-color:black;
        width: 100vw;
        display:flex;
        justify-content: center;
        padding: 1%;
    }

    .CTA {
        width: 100vw;
        position: absolute;
        top: 50%;
        left: 20%;
    }

    .CTA button{
        font: 10px;
        padding-top: 2%;
        padding-bottom: 2%;
        font-size: 20px;
        color: white;
        background-color: black;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 30vw;
        margin-left: 15vw;
        cursor: pointer;
        display: flex;
        justify-content: center;
        border:solid 1px white;
        margin-top: 60px;
        font: 'Exo 2';

    }

    .Products{
        display:flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        flex-direction: column;
        height: auto;
        
    }

    .Products h1 {
        color: white;
        font-size: 20px;
    }

    .Products div {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 100vw;
        padding: 100px;
        height: 500px;
        
    }
    .Products div img {
        width: 100px;
        height: 375px;
        margin-right: 10px;
    }
    
    .Products div #img1:hover {
        transition: all ease-in-out .5s;
        margin-bottom: 15px;
    }

    .Products div #img2:hover {
        transition: all ease-in-out .5s;
        margin-bottom: 15px;
    }

    .Products div #img3:hover {
        transition: all ease-in-out .5s;
        margin-bottom: 15px;
    }

    .Products{
        background-color: black;
    }

    .header span{
        font: white;
    }

    }
    .carousel-item img {
        opacity: .7;
        height: 100vh;
    }
    .carousel-item .CTA {
        z-index: 1;
        position: absolute;
    }

    .carousel button{
        font-family: 'Exo 2';
        font-size: 1rem;
    }

.Products h1{
    margin-top: 20px;
    font-family: 'Exo 2';
    font-size: 20px;
    margin-bottom: 20px;

}

#gmap_canvas{
    width: 100%;    
}
#search{
    width: 100%;
    padding: 1% 2%;
    display: none
}

.footer{
    background-color: black;
}

.footer1 div{
    color: white;
}

    @media(max-width: 320px){
            #img1 {
                display: none;
            }
            #img2 {
                display: none;
            }
            .CTA article button{
                width: 60%;
                margin: 0;
            }
            #search{
                
                display: block
            }
            #search-icon{
              
                display: none
            }
            .carousel-item img {
                opacity: .7;
                height: 50vh;
            }

            #gmap_canvas{
                width: 100%;    
            }

    }

    .article_flex {
        display:flex;

    }

    .footer 1{
        background-color 
    }

    @media(max-width: 320px){
        #img1 {
            display: none;
        }
        #img2 {
            display: none;
        }
}
    